html,
body {
    height: 100%;
}

/*----- Menu vertical -----*/
#menu{
    position:relative;
    background-color: #2f4066;
    height:100%;
    z-index:10;
    width:280px;
    color:#ffffff;
    top:0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity:1;
    font-family: 'Source Sans Pro', sans-serif;
}

#menu ul{
    list-style:none;
    margin-top:0;
    padding:0
}
#menu ul li{border-bottom: 1px solid #2a2a2a;}
#menu>ul>li>a{    border-left: 4px solid #4a9d78;}
#menu ul li a{
    color:inherit;
    font-size:16px;
    display:block;
    padding:8px 0 8px 7px;
    text-decoration:none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 600;
}
#menu ul a i{
    margin-right:10px;
    font-size: 18px;
    margin-top: 3px;
    width: 20px;
}
#menu ul a i[class*='fa-caret']{float: right;}
#menu ul a:hover,#menu ul a.active{
    background-color: #4a9d78;
    border-left-color: #2f4066;
    color: #ffffff;
}
#menu ul a:hover i:first-child{color:#FFCC33;}

/* Submenu */
#menu ul li a.active+ul{display:block}
#menu ul li ul{margin-top: 0;display: none;}
#menu ul li ul li{border-bottom: none;}
#menu ul li ul li a{padding-left: 30px;}
#menu ul li ul li a:hover{
    background-color:#1A1A1A;
}
/* /Submenu */


/* Cuando este a la Izq, para esconderlo posicionarlo a la Izq a -width */
.left{left:-280px;}
.show{left:0;}

#showmenu{
    margin-left:100%;
    position:absolute;
    top:0;
    padding:6px 10px 7px 10px;
    font-size:1.3em;
    color:#FFCC33;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#container{padding: 50px;}

/*----- Menu principal -----*/
.bloco_menu_prim{
    background-color: #2F4066;
    border: none;
    border-radius: 0px;
    box-sizing: border-box;
    display: block;
    /*font-size: 0.75em;*/
    /*font-weight: normal;*/
    min-height: 30px;
    padding: 0.7em 0 0.7em 0;
    text-align: right;
    font-weight: 600;
    font-size: 84%;

}

.bloco_menu_prim a{
    font-size: 1.15em;
    /*text-decoration: none;*/
    color: #ffffff;
    text-decoration: underline;


}

.bloco_menu_prim .nome_usuario_header {
    margin: 2px 0 0 -13px;
    float: left;
    color: #ffffff;
    font-size: 14px;
}

.bloco_menu_prim a:hover, .bloco_menu_prim a:focus{
    text-decoration: underline;


}

.bloco_menu_prim .menu_prim_itens ul{
    margin-bottom: 5px;

}

.bloco_menu_prim .menu_prim_itens li{
    display: inline-block;


}

.bloco_menu_prim .menu_prim_itens li a{
    /*background-color: #045FB4;*/
    border-right: 1px solid #9cb0d4;
    /*color: #ffffff;*/
    display: inherit;
    padding: 0.15em 0.6em;
    text-decoration: none;
}

.bloco_menu_prim .menu_prim_itens li a:hover{
    background: none;
    list-style: none;

}

.bloco_menu_prim .menu_prim_itens li:last-child a{
    border-right: none;
    padding-right: 0;


}

/*----- Menu dropdown -----*/
.navbar{
    margin-bottom: 0 !important;
}

.navbar-default .navbar-toggle {
    background: #fff;
}

.nav > li > a{
    background: transparent !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: transparent !important;/*
    border-color: transparent !important;*/
}

/*----- Menu dropdown -----*/
.navbar{
    margin-bottom: 0 !important;
}

.navbar-default .navbar-toggle {
    background: #fff;
}

.nav > li > a{
    background: transparent !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: transparent !important;/*
    border-color: transparent !important;*/
}

.dropdown-menu{
    box-shadow: none !important;
    margin-top: 0.425em !important;
    padding: 0 !important;
    min-width: auto;
}

.dropdown-menu > li {
    box-sizing: border-box;
    border-top: 1px solid #e5e8e5;
    display: block;
    min-height: 30px;
}

.dropdown-menu > li > a {
    color: #ffffff !important;
    font-size: 0.875em !important;
    font-weight: normal !important;
    padding: 0.6em 0.8em !important;
    padding-right: 0;
    border-right: none !important;
    position: inherit;
}

.dropdown-submenu > a:after{
    border-left-color: #2C66CE !important;
    margin-left: 8px !important;
    margin-right: 5px !important;
}

/*----- Personalizando a janela pop up do sistema -----*/
.modal-body {
    position: relative;
    padding: 37px;
}

.modal-content .modal-header{
    background-color: #4A9D78 !important;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-weight: 600;
    text-shadow: 3px 3px #0f0f0f;
}

.modal-content .bootstrap-dialog-footer-buttons .btn-warning{
    background-color: #4A9D78 !important;
    border: none;
}

.modal-content .bootstrap-dialog-footer-buttons .btn span{
    display: none;
}

.modal-content .bootstrap-dialog-footer-buttons .btn{
    font-size: 0.8em;
    padding: 0.75em 1.45em;/*8 16*/
    text-transform: uppercase !important;
}

/*----- Ajeitando ícone de fechar do pop up -----*/
.modal-header .close{
    color: #ffffff;
    opacity: 100;
    text-shadow: none;
}

.modal-dialog .modal-header h4{
    margin: 0;
    font-weight: 600;
    text-shadow: 3px 3px #0f0f0f;
}

@-moz-document url-prefix() {
    .dropdown-submenu > a::after {
        margin-top: -14px !important;
    }
}

.dropdown-submenu > .dropdown-menu {
    background-color: #eeeff1;
    margin-left: 0 !important;
    margin-top: -0.15em !important;
}

.dropdown-submenu > .dropdown-menu li{
    border-top: 1px solid #fdfdfd;
    display: block !important;
}

.dropdown-submenu li:first-child{
    border-top: none !important;
}

/*----- Menu secundário -----*/
.bloco_menu_secun{
    background-color: #eeeff1;
    border: none;
    border-radius: 0px;
    box-sizing: border-box;
    display: block;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 0.72em;
    font-weight: normal;
    min-height: 30px;
    padding: 0.7em 0 0.7em 0;
    text-align: right;
}

.bloco_menu_secun a{
    font-size: 1.19em;
    text-decoration: none;
}

.bloco_menu_secun a:hover,
.bloco_menu_secun a:focus{
    text-decoration: underline;
}

.bloco_menu_secun .menu_secun_itens ul{
    margin-bottom: 0;
}

.bloco_menu_secun .menu_secun_itens li{
    display: inline-block;
}

.bloco_menu_secun .menu_secun_itens li a{
    border-right: 1px solid #9cb0d4;
    color: #2C66CE;
    display: inherit;
    padding: 0.17em 0.67em;
    text-decoration: none;
}

.bloco_menu_secun .menu_secun_itens li:last-child a{
    border-right: none;
    padding-right: 0;
}

.bloco_menu_secun .menu_secun_itens li a:hover{
    background: none;
    text-decoration: underline;
}

.bloco_menu_secun .dropdown-menu > li > a {
    font-size: 0.875em !important;
    font-weight: normal !important;
    color: #2C66CE !important;
}

.bloco_menu_secun .dropdown-menu li{
    box-sizing: border-box;
    border-top: 1px solid #e5e8e5;
    display: block;
    min-height: 30px;
}

.bloco_menu_secun .dropdown-menu li:first-child{
    border-top: none;
}

.bloco_menu_secun .menu_secun_itens .dropdown-menu li a {
    border-right: none;
    padding: 0.6em 0.8em;
}

.dropdown-submenu > .dropdown-menu li{
    border-top: 1px solid #fdfdfd;
}



.bloco_menu_prim .menu_prim_itens .open > a{
    border-right: 1px solid #9cb0d4;
}


/* Nome Orgão */
.bloco_cabecalho .bloco_nome_orgao{
    border: none !important;
    clear: both;
    display: inline-block;
    font-family: "Open Sans Extrabold", sans-serif;
    /*font-weight: normal;*/
    font-size: 4em;
    margin: 0.13em 0em;
    max-width: 650px;
    padding: 0.75em 0 !important;
    position: relative;
    font-weight: 700;

}

.bloco_cabecalho .bloco_nome_orgao a{
    color: #ffffff;
    text-shadow: 3px 3px #0f0f0f;

    text-decoration: none;
}

.bloco_cabecalho .bloco_nome_orgao a:hover, #nome-cargo a:visited{
    /*color: #2C66CE;*/
    text-decoration: none !important;
}

.bloco_cabecalho .bloco_nome_orgao .denominacao_orgao{
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 0.325em;
    font-weight: normal;
    padding-bottom:5px;
    top: 18px;
}

.bloco_cabecalho .bloco_nome_orgao .subordinacao_orgao{
    display: block;
    font-family: "Open Sans", sans-serif;
    /*font-weight: normal;*/
    font-size: 0.375em;
    margin-top: 0.6em;
    padding-left: 0.16em;
    text-transform: uppercase;
    font-weight: 600;

}

.bloco_cabecalho .bloco_nome_orgao .imagem_logo{
    /* background: url("../imagens/icone_logo_SDI_3.PNG");*/
    display: inline-block;
    height: 40px;
    vertical-align: bottom;
    width: 93px;
    right: auto;
}

.imagem_logo{
    background: url(../imagens/imagem.png);
    background-repeat: no-repeat;
    height: 103px;
    position: relative;
    top: 21.9px;
    display: block;
    width: 126px;
    background-size: 113px;
}

.descricao_mensagem{
    margin-top: 1cm;
    max-width:5008px;
    margin-left:157px;
    padding-left: 60px;
}
.dsc_mensagem_alinhador{
    max-width:5008px;
    margin-left:157px;
    position: absolute;
    top: 14.7cm;
    left: 6.4cm;
}
.dsc_mensagem_balanceador{
    max-width:5008px;
    margin-left:157px;
    position: absolute;
    top: 24.8cm;
    left: 6.4cm;
}

.dsc_mensagem_caixa_ferramentas{
    max-width:5008px;
    margin-left:157px;
    position: absolute;
    top: 33cm;
    left: 6.4cm;
}

.teste {
    max-width:5008px;
    margin-left:157px;
    padding-left: 60px;
}
.bloco_cabecalho .logo_subordinação{
    display: inline-block;
    vertical-align: middle;
    float: right;
    top: 0.13em;
}

/*----- Breadcrumb -----*/
.bloco_breadcrumb{
    background-color: transparent;
    border-radius: 0;
    list-style: none;
    margin-bottom: 0;
    padding: 0.5em 0;
}

.bloco_breadcrumb label{
    display: inline;
    font-size: 0.72em;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 1.5%
}

.bloco_breadcrumb .breadcrumb{
    /*padding: 30px 0;
    margin-bottom: 0px;*/
    background-color: transparent;
    border-radius: 0px;
    display: inline;
    font-size: 0.75em;
    font-weight: normal;
    list-style: none;
    padding: 1.9em 0;
}

.bloco_breadcrumb .breadcrumb li{
    display: inline-block;
    font-size: 0.95em;
    text-transform: uppercase;
}

.bloco_breadcrumb .breadcrumb li:first-child:before{
    content: normal !important;
}

.bloco_breadcrumb .breadcrumb li:before {
    color: #777777 !important;
    content: ">" !important;
    padding: 0 0.35em;
}

.bloco_breadcrumb .breadcrumb li a {
    margin-right: 3px;
    color: #777777;
    font-size: 0.95em;
    text-transform: uppercase;
}

.bloco_breadcrumb .breadcrumb li a:hover, .bloco_breadcrumb .breadcrumb li a:focus{
    text-decoration: underline;
}

/*----- Cabeçalho - Elementos -----*/
.bloco_cabecalho{
    background-color: #ECEDF1;
    background-image: radial-gradient(ellipse at center, #ECEDF1 1%, #4A9D78 100%);
    font-size: 10px;
    width: 100%;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}



.footer {
    height: 60px;
    background-color: #2F4066;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color: #ffffff;

    display: block;
    bottom: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 200;
}

.jumbotron {
    text-align: center;
    /*background-color: transparent;*/
    /*background-image: radial-gradient(ellipse at center, #ECEDF1 1%, #4A9D78 100%);*/
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 1px;
    border: none;
    color: #ffffff;
    font-size: 124%;
    font-weight: 600;
    margin-top: -2px;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 1000px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: #ffffff;

}

.nav > li > form > button.logout:focus {
    outline: none;
}
